---
title: Support | Welcome to Middleman
---

<%= image_tag 'middleman.png' %>
<h1>Middleman is Watching Support</h1>
<p class="doc">
<%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
</p><!-- .doc -->