---
title: WWW | Welcome to Middleman
layout: wrapped_layout
---

<%= image_tag 'middleman.png' %>
<h1>Middleman is Watching WWW</h1>
<p class="doc">
<%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
</p><!-- .doc -->